<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <meta name="google-site-verification" content="9SkY12tY4i21ggaNFhBV4DSkKGn8DYXI5fac-r5Cj_0" />

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jiayi Nie
              </h1>
              <p>I am currently a first-year PhD student at the University of Cambridge, working under the supervision of Dr. <a href="https://contactrika.github.io">Rika Antonova</a> and co-supervised by Prof. <a href="https://www.cl.cam.ac.uk/~rdm34/">Robert Mullins</a>.</p>

              <p>I hold an MSc from Imperial College London, where I had the privilege of working with Dr. <a href="https://www.robot-learning.uk">Edward Johns</a>.</p>
      
              <p>I am interested in machine learning for computer architecture, efficient ML, and optimization. </p>

              <p style="text-align:center">
                <a href="https://github.com/jiaeenie">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/jiaeenie"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/jiayi_profile_pic.JPG">
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin-right:auto; margin-left:auto;">
          <tr>
            <td style="padding:2.5%; width:100%; vertical-align:middle;">
              <h2>Education</h2>
              <p>
                MSc Computing (AI & ML) <span style="float:right;"> <b>Imperial College London</b>, <em>2024</em></span>
              </p>
              <p>
                BSc Computer Science <span style="float:right;"> <b>The University of Manchester</b>, <em>2023</em></span>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin-right:auto; margin-left:auto;">
          <tr>
            <td style="padding:2.5%; width:100%; vertical-align:middle;">
              <h2>Work Experience</h2>
              <p>
                Software Engineering <span style="float:right;"> <b>Amazon</b>, <em>AWS S3, Alexa</em></span>
              </p>
              <p>
                Hardware Engineering <span style="float:right;"> <b>Arm</b>, <em>Central Technology CPU</em></span>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin-right:auto; margin-left:auto;">
          <tr>
            <td style="padding:2.5%; width:100%; vertical-align:middle;">
              <h2>Teaching</h2>
              <p>
                Teaching Assistant <span style="float:right;"> <a href="https://www.cl.cam.ac.uk/teaching/2425/R171/">Reinfrocement Learning <em>2024/25</em></a></span>
              </p>
              <p>
                Peer-Assisted Study <a href="https://studentnet.cs.manchester.ac.uk/ugt/pass/ "> Leader</a> <span style="float:right;"><a href="https://www.peersupport.manchester.ac.uk/rewards-recognition/celebration-evening-2022-23/">Community Award <em>2022/23</em> </a></span>
              </p>
            </td>
          </tr>
        </table>
        <br>
        <br>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code sourced from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>, utilizing <a href="https://leonidk.com">Leonid Keselman's</a> Jekyll <a style="font-size:small;" href="https://github.com/leonidk/leonidk.github.io">template</a>.
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

